{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
    <div class="centered-container"> <!-- Wrapper div to center content -->
        <h1>{% trans "Sign In" %}</h1>

        {% if not SOCIALACCOUNT_ONLY %}
            <p>
                {% blocktranslate %}If you have not created an account yet, then please <a href="{{ signup_url }}">{{ trans "sign up" }}</a> first.{% endblocktranslate %}
            </p>

            {% url 'account_login' as login_url %}
            <form method="post" action="{{ login_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                {{ redirect_field }}
                <button type="submit">{% trans "Sign In" %}</button>
            </form>
        {% endif %}

        {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
            <hr>
            <div>
                {% if PASSKEY_LOGIN_ENABLED %}
                    <button id="passkey_login">{% trans "Sign in with a passkey" %}</button>
                {% endif %}
                {% if LOGIN_BY_CODE_ENABLED %}
                    <a href="{{ request_login_code_url }}">{% trans "Mail me a sign-in code" %}</a>
                {% endif %}
            </div>
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div> <!-- End of centered-container -->
{% endblock content %}


{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
