{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
    <div class="centered-container"> <!-- Wrapper div to center the content -->
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        {% url 'account_logout' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            <div class="button-group"> <!-- Div for button grouping -->
                <button type="submit" class="prominent login"> <!-- Sign Out button -->
                    {% trans 'Sign Out' %}
                </button>
                <a href="{% url 'home' %}" class="cancel-button">
                    <button type="button" class="outline"> <!-- Cancel button -->
                        {% trans 'Cancel' %}
                    </button>
                </a>
            </div>
        </form>
    </div> <!-- End of centered-container -->
{% endblock content %}
