{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    <div class="centered-container"> <!-- Wrapper div to center content -->
        <h1>{% trans "Sign Up" %}</h1>
        
        <p>
            {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktranslate %}
        </p>
        
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {{ redirect_field }}
                <div class="form-group">
                    <!-- Fields -->
                    {{ form.as_p }}  <!-- Render the form fields here, assuming you're using Django forms -->
                </div>
                <div class="button-group"> <!-- Div for button grouping -->
                    <button type="submit" class="prominent signup"> <!-- Sign Up button -->
                        {% trans "Sign Up" %}
                    </button>
                </div>
            </form>
        {% endif %}
        
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div> <!-- End of centered-container -->
{% endblock content %}
