{% extends 'base.html' %}

{% block content %}
{% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}

<div class="container mt-5">
    <h2>Create Your Profile</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Create Profile</button>
    </form>
    <a href="{% url 'home' %}" class="cancel-button"></a>
</div>
{% endblock %}
