html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: black;
}

#delivery-banner {
    padding: 5px;
    margin: 10px;
}

.delivery-banner-child {
    background-color: green;
}

.shop-now {
    background-color: green;
    color: #f1f1f1;
    margin: 5px;
    padding: 5px;
}

/* Flex-grow for the main content */
.content {
    flex: 1; /* Grow to fill available space */
}

/* Footer styles */
.footer {
    background-color: #f1f1f1; 
    padding: 30px;
    margin: 30px;
    text-align: center;
}

.footer .page-header {
    text-align: center;
  }
  
.footer .block-divider--short {
    width: 50px;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
  }
  
.footer .social-icons {
    display: flex;
    gap: 15px;  /* Space between icons */
    margin-top: 10px;
  }
  
.footer .social-icons a {
    font-size: 24px;  /* Adjust icon size */
    color: #000;      /* Icon color */
    transition: color 0.3s;
  }
  
.footer .social-icons a:hover {
    color: #007bff;  /* Change color on hover */
  }
  
.footer .col-md-6 h3, .footer .col-md-6 h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
.footer .col-md-6 p {
    font-size: 1rem;
  }
  

.wrapper {
    background: url('/static/media/background-image.jpg') no-repeat center center fixed;
    color: black;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh;  /* Minimum height to fill the viewport */

}

strong {
    color: rgb(19, 15, 15);
}

/* Back to Top button styling */
#back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none; /* Initially hidden */
    z-index: 1000;
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}

#back-to-top:hover {
    background-color: rgb(19, 15, 15); /* Darken on hover */
}

.required {
    color: red;
    font-weight: bold;
}

#id_country option {
    color: black; /* Default color for all countries */
}

#id_country option:first-child {
    color: gray; /* Set the first option to black */
}

/* Floating cart button on mobile */
.cart-float {
    position: fixed;
    bottom: 20px; /* distance from the bottom of the screen */
    right: 20px; /* distance from the right side of the screen */
    z-index: 1000; /* ensures it stays on top of other elements */
    background-color: #1f8b38;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* shadow for a floating effect */
  }

/* Responsive for mobile devices */
@media (min-width: 768px) {
    .cart-float {
      display: none; /* Hide floating button on larger screens */
    }
  }


@media (max-width: 768px) {
    .wrapper {
        background-position: 50% 0; /* Adjust for smaller screens */
    }
}

@media (min-width: 769px) {
    .wrapper {
        background-position: 75% 0; /* Adjust for larger screens */
    }
}