{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data" class="mb-4 w-75">
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.as_p|safe }}
        </div>

        <h3 class="mt-4 text-center">Product Variants</h3>
        {{ formset.management_form }}

        <table class="table table-bordered mt-3 mx-auto">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr>
                        <td>
                            <div class="form-group">
                                {{ form.size.label_tag }}
                                {{ form.size }}
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ form.price.label_tag }}
                                {{ form.price }} 
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                {{ form.stock.label_tag }}
                                {{ form.stock }} 
                            </div>
                        </td>
                        <td>
                            {% if form.DELETE %}
                                {{ form.DELETE }} 
                                <button type="button" class="btn btn-danger" onclick="this.closest('tr').remove();">Delete</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Update Product</button>
        </div>
    </form>
</div>
{% endblock %}
