{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="African Grocery in Diaspora,
       Afroshop near me, Online shop for African Groceries,
        Munich München Germany Deutschland, Foodstuffs Ingredients,
         Healthy Online Afroshop">
  <meta name="keywords" content="Afroshop, Online, Shop, Munich,
       Germany, Deutschland, München, Diaspora, African, Food, 
       Groceries, Foodstuffs, Ingredients, Recipes">
  {% endblock %}

  {% block extra_meta %}
  <meta name="keywords" content="Home, Afroshop,
   African Groceries, Diaspora, Online shop, Munich">
  {% endblock %}

  {% block corecss %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="preload" href="https://fonts.googleapis.com/css?family=Lato&display=swap" as="style"
    onload="this.rel='stylesheet'">

  <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    media="print" onload="this.media='all'">

  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

  <!-- Favicon for all browsers -->
  <link rel="icon" href="{% static 'media/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'media/favicon.png' %}" type="image/png">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" defer crossorigin="anonymous">
  </script>

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/" defer></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Afrogspot {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="header">
    <!-- Bootstrap 5 Full-Width Header Template -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Afro<strong class="text-success">Gspot</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Search Form -->
          <form class="d-flex me-auto w-50" method="GET" action="{% url 'product_list' %}">
            <!-- Search input retains the previous search term -->
            <input id="search-input" class="form-control me-2 w-100" type="text" name="q" value="{{ query|default:'' }}"
              placeholder="Search for products, brands, and more..." aria-label="Search">
            <!-- Hidden input to retain the selected category when performing a search -->
            <input id="category-select" type="hidden" name="category" value="{{ category_name|default:'' }}">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>

          <!-- Navigation Menu -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <select name="language" id="language" class="form-select form-select-sm" onchange="this.form.submit()">
                  {% for lang_code, lang_name in LANGUAGES %}
                  <option value="{{ lang_code }}" {% if lang_code == request.LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang_name }}
                  </option>
                  {% endfor %}
                </select>
                <input type="hidden" name="next" value="{{ request.path }}">
              </form>


            </li>

            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'new_arrivals' %}active{% endif %}"
                href="{% url 'new_arrivals' %}">New Arrivals</a>
            </li>

                <!-- About us -->
                <li>
                  <a class="nav-link {% if request.resolver_match.url_name == 'about_us' %}active{% endif %}" href="{% url 'about_us' %}">
                    About Us
                </a>
                </li>
            </li>

            <!-- Account Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'manage_products' %}">Manage Product</a></li>
                {% endif %}
                <li><a href="{% url 'profile_view' %}" class="dropdown-item">My Profile</a></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
              </ul>
            </li>

            <!-- Cart Icon and Count -->
            <li class="nav-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link"
                href="{% url 'cart_detail' %}">
                <div class="text-center">
                  <i class="bi bi-cart"></i> ({{ product_count }})
                  <p class="my-0">
                    {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                    {% else %}
                    €0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Cart Floating Button -->
    <a href="{% url 'cart_detail' %}" class="cart-float">
      <i class="bi bi-cart-fill" style="font-size: 24px;"></i>
      <!-- Add total number of products as a badge -->
      <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
        {{ product_count }}
      </span>
    </a>


    <!-- Second Row: Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-1">
      <div class="container-fluid justify-content-evenly">

        <!-- Toggler for offcanvas -->
        <button class="btn btn-outline-dark d-lg-none" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#categoriesOffcanvas" aria-controls="categoriesOffcanvas">
          Categories
        </button>

        <!-- Desktop View Categories -->
        <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
          <ul class="navbar-nav w-100 justify-content-evenly">

            <!-- Recipes Link -->
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'recipes' %}active{% endif %}" href="{% url 'recipes' %}">
                Recipes
              </a>
            </li>

            <!-- Hair and Beauty Link -->
            
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'hair_and_beauty' %}active{% endif %}"
               href="{% url 'product_list' %}?category=Hair and Beauty">Hair and Beauty</a>

            </li>

            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'fragrances' %}active{% endif %}"
                href="{% url 'product_list' %}?category=Fragrance">
                Fragrances
              </a>
            </li>

            <!-- Categories Dropdown (Desktop View Only) -->
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'product_list' %}">All Products</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                {% for category in categories %}
                <li>
                  <a class="dropdown-item {% if request.GET.category == category.name %}active{% endif %}"
                    href="{% url 'product_list' %}?category={{ category.name|urlencode }}&q={{ query|urlencode }}">
                    {{ category.name }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Offcanvas Menu for Mobile -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="categoriesOffcanvas"
      aria-labelledby="categoriesOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 id="categoriesOffcanvasLabel" class="text-uppercase">Categories</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-group">
          <!-- All Products -->
          <li class="list-group-item">
            <a href="{% url 'product_list' %}" class="text-decoration-none text-uppercase text-dark">
              All Products
            </a>
          </li>

          <!-- Recipes -->
          <li class="list-group-item">
            <a href="{% url 'recipes' %}" class="text-decoration-none text-uppercase text-dark">
              Recipes
            </a>
          </li>

          <!-- Hair and Beauty -->
          <li class="list-group-item">
            <a href="{% url 'hair_and_beauty' %}" class="text-decoration-none text-uppercase text-dark">
              Hair and Beauty
            </a>
          </li>

          <li class="list-group-item">
            <a href="{% url 'fragrances' %}" class="text-decoration-none text-uppercase text-dark">
              Fragrances
            </a>
          </li>

          <!-- Divider -->
          <hr class="dropdown-divider">

          <!-- Dynamic Categories -->
          {% for category in categories %}
          <li class="list-group-item">
            <a href="{% url 'product_list' %}?category={{ category.name|urlencode }}&q={{ query|urlencode }}"
              class="text-decoration-none text-uppercase text-dark">
              {{ category.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>



    <!-- Delivery Banner -->
    <div id="delivery-banner" class="row text-center">
      <div class="col delivery-banner-child">
        <h4 class="my-1 text-black">
          WE PREPARE A TABLE BEFORE YOU! <strong class="text-white">Free delivery on orders over €</strong><strong
            class="text-white">{{ free_delivery_threshold }}!</strong>
        </h4>
      </div>
    </div>
    <!-- Bootstrap Icons CDN for cart icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </header>

  {% block page_header %}
  {% endblock %}

  <main class="content">
    {% block content %}
    {% endblock content %}
  </main>

  <!-- Back to Top Button -->
  <a href="#" id="back-to-top" class="btn btn-success back-to-top" role="button">
    <i class="bi bi-arrow-up"></i>
  </a>

  <!-- Toast container for Django messages -->
  <div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3 alert-container"
    data-autohide="false">
    {% if messages %}
    {% for message in messages %}
    <div class=" alert alert toast align-items-center text-white bg-{{ message.tags }} border-0" role="alert"
      aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
      <div class="d-flex">
        <div class="toast-body">
          {{ message }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <!-- JavaScript to handle search and category interaction -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const searchInput = document.getElementById('search-input');
      const categorySelect = document.getElementById('category-select');

      // Reset category when a search is performed
      searchInput.addEventListener('input', function () {
        if (searchInput.value.trim() !== '') {
          categorySelect.value = ''; // Clear the category filter when typing in search
        }
      });

      // Reset search query when a category is selected
      categorySelect.addEventListener('change', function () {
        if (categorySelect.value !== '') {
          searchInput.value = ''; // Clear the search input when selecting a category
        }
      });
    });
  </script>


  <!-- JavaScript to handle back to top button -->
  <script>
    $(document).ready(function () {
      // Show or hide the button based on scroll position
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });

      // Smooth scroll to the top when the button is clicked
      $('#back-to-top').click(function (e) {
        e.preventDefault();
        $('html, body').animate({
          scrollTop: 0
        }, '300');
      });
    });
  </script>

  <!-- Custom Script to trigger toast -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var toastElList = [].slice.call(document.querySelectorAll('.toast'));
      var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl).show();
      });
    });
  </script>

  <!-- Custom Script to dismiss messages -->
  <script>
    function dismissMessage(element) {
      const alert = element.closest('.alert');
      alert.style.opacity = '0'; // Fade out effect
      setTimeout(() => {
        alert.remove(); // Remove the alert from the DOM
      }, 300); // Delay for the fade-out effect
    }
  </script>

  <!--Code institute marketing wiskey footer-->
  <footer class="container-wrapper footer">
    <div class="container quotes-container content-container">
      <section class="footer">
        <div class="row">
          <div class="col-12 page-header mb-4 text-center">
            <h2 class="text-uppercase">Stay in touch:</h2>
            <hr class="block-divider block-divider--short mx-auto">
          </div>
        </div>

        <div class="row d-flex align-items-center">
          <!-- Social Section (Left) -->
          <div class="col-12 col-md-6 mb-4 mb-md-0 text-center text-md-left">
            <h3>Socials</h3>
            <p>Keep up to date with all our latest offers</p>
            <div class="social-icons">
              <a href="https://www.facebook.com/profile.php?id=61561168221163" target="_blank" rel="noopener"
                aria-label="Facebook">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/afrogspot.de?igsh=YzVqM25wMGl4cjZy&utm_source=qr" target="_blank"
                rel="noopener" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="https://wa.me/c/4915212658400" target="_blank" rel="noopener" aria-label="WhatsApp">
                <i class="fab fa-whatsapp"></i>
              </a>
              <a href="https://youtube.com/@afrogspot?si=1zTpFzNeVDoCeavA" target="_blank" rel="noopener"
                aria-label="YouTube">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="https://www.tiktok.com/@afrogspot?_t=8q4Kn38aM2D&_r=1" target="_blank" rel="noopener"
                aria-label="TikTok">
                <i class="fab fa-tiktok"></i>
              </a>
              <a href="https://g.co/kgs/jQktd1x" class="text-dark" target="_blank" rel="noopener noreferrer"
                aria-label="Find us on Google">Find us on Google</a>

            </div>
          </div>

          <!-- Subscription Form Section (Right) -->
          <div class="col-12 col-md-6 text-center text-md-left">
            <h2>Subscribe!</h2>
            <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
            <div id="mc_embed_signup">
              <form
                action="https://herokuapp.us11.list-manage.com/subscribe/post?u=13b6a03dbb7bdb1ea86e2ef56&amp;id=cdbe87f839&amp;f_id=00874ae0f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank">
                <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                    <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL" required="">
                  </div>
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-sm mt-2"
                      value="Subscribe">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <br>
        <hr>
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center flex-column flex-md-row">
              <p class="mb-0 text-center">&copy; 2024 Afrogspot. All Rights Reserved.</p>
              <a href="{% url 'send_message' %}" class="btn btn-success btn-sm mt-2 mt-md-0" target="_blank">Contact
                Us</a>
              <a href="https://www.termsfeed.com/live/1ad16289-79b0-4a38-93d9-d3bf322d7f47"
                class="mt-2 mt-md-0 list-inline-item" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>

  <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
      fnames[6] = 'COMPANY';
      ftypes[6] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>

</body>

</html>